form textarea {
    height: 95px;
    resize: none;
}

form input[type="radio"]{
    margin: 0.5em 0;
}
form input[type="radio"]:not(:first-child){
    margin-left: 1em;
}

.status {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: .5em;
    font-size: large;
    margin-bottom: 0.5em;
}

